RewriteEngine On 

# Rewrite --- /services/test.php => /services/test
RewriteRule services/test services/test.php [L]
RewriteRule ^services/spigotandbukkit\.php$ spigotbukkit/downloads?&%{QUERY_STRING}
