RewriteEngine On
RewriteRule spigotbukkit/downloads services/spigotbukkit/downloads.php [L]
RewriteRule spigot/downloads services/spigot/downloads.php [L]
RewriteRule bukkit/downloads services/bukkit/downloads.php [L]